# Frontend
VITE_API_BASE=http://localhost:4000

# Backend server - API keys, server side only
API_FOOTBALL_KEY_1=
API_FOOTBALL_KEY_2=
API_FOOTBALL_KEY_3=
ODDS_API_KEY_1=
ODDS_API_KEY_2=
ODDS_API_KEY_3=

# Server port
PORT=4000
